In [58]:
import pandas as pd
import random
from scipy.linalg import svd, diagsvd

In [63]:
df = pd.read_csv('dados/ratings_small.csv')
df.drop(columns=["timestamp"], inplace=True)
df = df.pivot(index=["userId"], columns=["movieId"])
df.fillna(2.5, inplace=True)
A = df.to_numpy()
df

        rating                                                                 \
movieId 1      2      3      4      5      6      7      8      9      10
userId
1          2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5
2          2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5    4.0
3          2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5
4          2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5    4.0
5          2.5    2.5    4.0    2.5    2.5    2.5    2.5    2.5    2.5    2.5
...        ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
667        2.5    2.5    2.5    2.5    2.5    4.0    2.5    2.5    2.5    2.5
668        2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5
669        2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5
670        4.0    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5
671        5.0    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5

         ...                                                                 \
movieId  ... 161084 161155 161594 161830 161918 161944 162376 162542 162672
userId   ...
1        ...    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5
2        ...    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5
3        ...    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5
4        ...    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5
5        ...    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
667      ...    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5
668      ...    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5
669      ...    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5
670      ...    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5
671      ...    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5    2.5


movieId 163949
userId
1          2.5
2          2.5
3          2.5
4          2.5
5          2.5
...        ...
667        2.5
668        2.5
669        2.5
670        2.5
671        2.5

[671 rows x 9066 columns]

In [62]:
X, Y, Z = svd(A)

In [68]:
B = A.T[0][0]
B

5.0